.quick-input-widget {
	position: fixed !important; /* Đảm bảo vị trí cố định */
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) scale(1.1) !important;
	width: 50% !important;
	max-width: 600px !important;
	border-radius: 12px !important;
	padding: 4px !important; /* Tăng khoảng cách bên trong */
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3) !important;
	transition: all 0.3s ease-in-out !important;
}
